.row
	.col-md-12
		if typeof tasks !== "undefined"
			table
				colgroup
					col.col-xs-1
					col.col-xs-8
					col.col-xs-3
				tbody
					each task in tasks
						tr.oneTodo
							if task.completed()
								td.text-center.pagination-centered	
									input.center#check(data-id=task.cid, type="checkbox", checked="checked")
								td.maxWidth.overLine
									h3=task.title()
							else
								td.text-center.pagination-centered	
									input.center#check(data-id=task.cid, type="checkbox")
								td.maxWidth
									h3=task.title()
									h2=task.id
							td
								button.close.center.delete-task(data-id=task.cid, aria-hidden="true", type="button") &times;
						